name: Whitespace

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

permissions: read-all

jobs:

  whitespace:
    name: Check Whitespace
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: chainguard-dev/actions/trailing-space@6f4f4de7549514e7b659741b30f6476f245600dd # v1.5.3
        if: ${{ always() }}

      - uses: chainguard-dev/actions/eof-newline@6f4f4de7549514e7b659741b30f6476f245600dd # v1.5.3
        if: ${{ always() }}
