name: Whitespace

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

permissions: read-all

jobs:

  whitespace:
    name: Check Whitespace
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: chainguard-dev/actions/trailing-space@de56c2728beb0a0f371bff2ce2ee4b8afee4b5e8 # v1.5.1
        if: ${{ always() }}

      - uses: chainguard-dev/actions/eof-newline@de56c2728beb0a0f371bff2ce2ee4b8afee4b5e8 # v1.5.1
        if: ${{ always() }}
