name: Whitespace

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

permissions: read-all

jobs:

  whitespace:
    name: Check Whitespace
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: chainguard-dev/actions/trailing-space@f632aec66edeebe245ad686a33a0c0a2160cac31 # v1.4.14
        if: ${{ always() }}

      - uses: chainguard-dev/actions/eof-newline@f632aec66edeebe245ad686a33a0c0a2160cac31 # v1.4.14
        if: ${{ always() }}
